<div class="about-section">
  <h1>About Us Page</h1>
  <h2>Innovation and creativity drives us </h2>
  <p>We provide the best products and delivery service in the industry</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://media-exp1.licdn.com/dms/image/C4E03AQFgvLH23lpO2g/profile-displayphoto-shrink_200_200/0/1597671179627?e=1644451200&v=beta&t=8mg98pFfW0IICpx9pwljh-Mr8f3p9MMcqS-jLvgyZrE" alt="Jane" style="height: 300px; width:100%">
      <div class="container">
        <h2>Das Nobel</h2>
        <p class="title">CEO & Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>das@mtx.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://media-exp1.licdn.com/dms/image/C5603AQEGyKj2e8046w/profile-displayphoto-shrink_200_200/0/1633094904991?e=1644451200&v=beta&t=NoL6p7D8V5k1Wej8Xh90QUaoVEtydYIQqFnR4FvHqHw" alt="Mike" style="height: 300px; width:100%">
      <div class="container">
        <h2>Harshit Jain</h2>
        <p class="title">Chief Solution Engineer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>harshit@mtx.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="https://media-exp1.licdn.com/dms/image/C4D03AQEEP86W3W_ENA/profile-displayphoto-shrink_200_200/0/1516480234711?e=1644451200&v=beta&t=hPwCAYhF4oYRASe7ekcifAtPskTsOxsIU0bBrJ9IXl8" alt="John" style="height: 300px; width:100%">
      <div class="container">
        <h2>Balasaheb Vadnere</h2>
        <p class="title">Chief Data Officer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>balasaheb@mtx.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>


<div class="footer-dark">
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-3 item">
                  <h3>Services</h3>
                  <ul>
                      <li><a href="#">Web design</a></li>
                      <li><a href="#">Development</a></li>
                      <li><a href="#">Hosting</a></li>
                  </ul>
              </div>
              <div class="col-sm-6 col-md-3 item">
                  <h3>About</h3>
                  <ul>
                      <li><a href="#">Company</a></li>
                      <li><a href="#">Team</a></li>
                      <li><a href="#">Careers</a></li>
                  </ul>
              </div>
              <div class="col-md-6 item text">
                  <h3>ApniDukan</h3>
                  <p>E-commerce is revolutionizing the way we all shop in India. Why do you want to hop from one store to another in search of the latest phone when you can find it on the Internet in a single click? Not only mobiles. ApniDukan houses everything you can possibly imagine, from trending electronics like laptops, tablets, smartphones, and mobile accessories to appliances that make your life easy like washing machines, we got them all covered. You name it, and you can stay assured about finding them all here. For those of you with erratic working hours, ApniDukan is your best bet. Shop in your PJs, at night or in the wee hours of the morning. This e-commerce never shuts down.</p>
              </div>
              <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
          </div>
          <p class="copyright">ApniDukan © 2021</p>
      </div>
  </footer>
</div>
