<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLinkActive="active" routerLink="/home">ApniDukan</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLinkActive="active" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/contact">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/userdisplay">User Display</a>
        </li><li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/electronics">Electronics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/login" (click)="logInForAuthGuard()">Login</a>
        </li>
        <li class="nav-item">
          <a routerLink="/login"  routerLinkActive="active" class="btn mx-2 " (click)="logOutForAuthGuard()" style="color: white;">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/signup" >Sign Up</a>
            </li>
      </ul>
      <ul class="nav navbar-right navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <button routerLink="cart" class="btn btn-primary">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
        </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

