<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" style="height: 240px;">
      <img src="https://www.reliancedigital.in/medias/Laptop-D.jpg?context=bWFzdGVyfGltYWdlc3wxNDY4Nzh8aW1hZ2UvanBlZ3xpbWFnZXMvaGE5L2hjZi85NzMwNzI1Njc1MDM4LmpwZ3wyZDM3MTM5ZTkzOWQ2ODcwYmEyYTkwNWEwNGY1NzMwZmM4OWUzM2VkMzdjNjNhN2FmNDU1YTgzZTM4ZmRjN2M2" class="d-block w-100" alt="banner1">
    </div>
    <div class="carousel-item " style="height: 240px;">
      <img src="https://m.media-amazon.com/images/I/51jKifqW4XL._SX3000_.jpg" class="d-block w-100" alt="banner1">
    </div>
    <div class="carousel-item" style="height: 240px;">
      <img src="https://m.media-amazon.com/images/I/61V-HwfgtdL._SX3000_.jpg" class="d-block w-100" alt="banner2">
    </div>
    <div class="carousel-item" style="height: 240px;">
      <img src="https://m.media-amazon.com/images/I/71wCZE4P7xL._SX3000_.jpg" class="d-block w-100" alt="banner3">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<marquee direction="left" scrollamount="8">
    <div class="ticker-left">
      New Year Offer !! &nbsp;&nbsp; | &nbsp;&nbsp;  Upto 60% Off  &nbsp;&nbsp; |  &nbsp;&nbsp;  COMING Soon... 
    </div>
</marquee>

<img style="width: 100%;" src="https://www.reliancedigital.in/medias/Big-December-Sale-Carousel-Banner-01-12-2021.jpg?context=bWFzdGVyfGltYWdlc3wxMDA2Njd8aW1hZ2UvanBlZ3xpbWFnZXMvaGY2L2hhMi85NzI4MDE5ODkwMjA2LmpwZ3xkZTk0MjE2NGNlZWRhMTczN2RhM2FkNmQwMjAwNjQxYTM3M2I0ZThiZWY3M2JhNzgyYzMyNDI0YTBkZTc5YzYw" alt="">

<div style="text-align: center; margin-top: 20px;">
  <h2>Featured Items</h2>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4" style="margin: 10px 50px;">
  <div class="col">
    <div class="card h-100">
      <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/PC/Computers/GW/DBQC/D21343116_IN_CEPC_BAU_GW_graphics_March21_dbqc_7._SY232_CB655805757_.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Laptops</h5>
        <p class="card-text">Shop from a wide range of laptops from HP, Dell, Lenovo, Acer & more at India's Best Online Shopping Store. Avail benefits such as free shipping, no cost EMI, product exchange, extended warranty and assured buyback. </p>
        <a routerLinkActive="active" routerLink="/electronics" class="btn btn-primary">View More</a>
      </div>
    </div>
  </div>
  <div class="col">
      <div class="card h-100">
        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/PC/Computers/GW/DBQC/D21343116_IN_CEPC_BAU_GW_graphics_March21_dbqc_5._SY232_CB655805757_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Smart Watches</h5>
          <p class="card-text">Buy Smart Watches from top brands like Fossil, Samsung & more online. Shop for Smart Watches in various Strap styles, Dial shapes & many more. Avail benefits such as free shipping, no cost EMI</p>
            <a routerLinkActive="active" routerLink="/electronics" class="btn btn-primary" style="margin-top: 24px;">View More</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/PC/Computers/GW/DBQC/D21343116_IN_CEPC_BAU_GW_graphics_March21_dbqc_8._SY232_CB655805757_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Smart TV</h5>
          <p class="card-text">India's Biggest TV Store | Exciting Offers | Top brands | Widest Collection | Avail benefits such as free shipping, no cost EMI</p>
            <a routerLinkActive="active" routerLink="/electronics" class="btn btn-primary" style="margin-top: 50px;">View More</a>
        </div>
      </div>
    </div>
</div>


<div class="footer-dark">
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-3 item">
                  <h3>Services</h3>
                  <ul>
                      <li><a href="#">Web design</a></li>
                      <li><a href="#">Development</a></li>
                      <li><a href="#">Hosting</a></li>
                  </ul>
              </div>
              <div class="col-sm-6 col-md-3 item">
                  <h3>About</h3>
                  <ul>
                      <li><a href="#">Company</a></li>
                      <li><a href="#">Team</a></li>
                      <li><a href="#">Careers</a></li>
                  </ul>
              </div>
              <div class="col-md-6 item text">
                  <h3>ApniDukan</h3>
                  <p>E-commerce is revolutionizing the way we all shop in India. Why do you want to hop from one store to another in search of the latest phone when you can find it on the Internet in a single click? Not only mobiles. ApniDukan houses everything you can possibly imagine, from trending electronics like laptops, tablets, smartphones, and mobile accessories to appliances that make your life easy like washing machines, we got them all covered. You name it, and you can stay assured about finding them all here. For those of you with erratic working hours, ApniDukan is your best bet. Shop in your PJs, at night or in the wee hours of the morning. This e-commerce never shuts down.
                  </p>
              </div>
              <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
          </div>
          <p class="copyright">ApniDukan © 2021</p>
      </div>
  </footer>
</div>
